/* Importing Reddit Sans from Google Fonts. */
@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

body {
  margin: 0;

  color: #231F20;

  font-family: "Reddit Sans";
}

/* Formatting for the web header itself. */
.web-header {
  display: flex;
  align-items: stretch;
  justify-content: space-around;

  padding: 15px 35px 15px 35px;

  border-bottom: 1px solid gray;

  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
}

.web-header a {
  text-decoration: none;
  color: #231F20;
}

/* Logo formatting. */
.logo {
  width: 30%;
  display: flex;

  align-items: center;
}

.logo img {
  margin-right: 4px;

  height: 32px;
}

.logo p {
  margin: 0;

  font-size: 20pt;
}

/* Formatting for the navigation bar itself. */
.nav-bar {
  width: 25%;
  min-width: 175px;
}

.nav-bar ul {
  display: flex;

  height: 100%;

  margin: 0;
  padding: 0;

  list-style-type: none;
}

.nav-bar li {
  width: 40%;

  margin-right: 10px;

  justify-content: center;
  align-items: center;
}

.nav-bar li:last-child {
  margin: 0;
}

.nav-bar a {
  color: #231F20;

  display: flex;

  height: 100%;
  width: 100%;

  justify-content: center;
  align-items: center;

  text-decoration: none;
}

.nav-bar a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.nav-bar a img {
  height: 25px;
  margin-right: 5px;
}

/* Formatting for the sign up button. */

.account-button {
  border-radius: 25px;

  background-color: #231F20;
}

.account-button:hover {
  background-color: #332d2e;
}

.account-button:active {
  transform: scale(95%);
}

.account-button a {
  color: white;
}

.account-button a:hover {
  text-decoration: none;
}

/* Formatting containers. */
.container {
  display: flex;
  flex-direction: column;

  align-items: center;

  padding: 16px;
}