/* Importing Reddit Sans from Google Fonts. */
@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

/* All needed animations. */
@keyframes star-flicker {
  0% {box-shadow: 0 0 6px 1px white; opacity: 60%;}
  100% {box-shadow: 0 0 10px 1px white;}
}

@keyframes ship-movement {
  0% {transform: rotate(0deg) translateX(5%) rotate(0deg);}
  100% {transform: rotate(360deg) translateX(5%) rotate(-360deg);}
}

@keyframes flame-flicker {
  0% {transform: scaleY(104%) translateY(6%);}
  100% {transform: scaleY(96%); opacity: 95%;}
}

body {
  margin: 0;

  color: #231F20;

  font-family: "Reddit Sans";
}

/* Formatting for the web header itself. */
.web-header {
  display: flex;
  align-items: stretch;
  justify-content: space-around;

  padding: 15px 35px 15px 35px;

  border-bottom: 1px solid gray;

  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
}

.web-header a {
  text-decoration: none;
  color: #231F20;
}

/* Logo formatting. */
.logo {
  width: 30%;
  display: flex;

  align-items: center;
}

.logo img {
  margin-right: 4px;

  height: 32px;
}

.logo p {
  margin: 0;

  font-size: 20pt;
}

/* Formatting for the navigation bar itself. */
.nav-bar {
  width: 25%;
  min-width: 175px;
}

.nav-bar ul {
  display: flex;

  height: 100%;

  margin: 0;
  padding: 0;

  list-style-type: none;
}

.nav-bar li {
  width: 40%;

  margin-right: 10px;

  justify-content: center;
  align-items: center;
}

.nav-bar li:last-child {
  margin: 0;
}

.nav-bar a {
  color: #231F20;

  display: flex;

  height: 100%;
  width: 100%;

  justify-content: center;
  align-items: center;

  text-decoration: none;
}

.nav-bar a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.nav-bar a img {
  height: 25px;
  margin-right: 5px;
}

/* Formatting for the sign up button. */

.account-button {
  border-radius: 25px;

  background-color: #231F20;
}

.account-button:hover {
  background-color: #332d2e;
}

.account-button:active {
  transform: scale(95%);
}

.account-button a {
  color: white;
}

.account-button a:hover {
  text-decoration: none;
}

/* Formatting for the about page. */
.about-container {
  display: flex;

  flex-direction: column;
  align-items: center;

  background-color: #231F20;
  color: white;

  overflow: hidden;
}

.about-container h1, p {
  margin: 10px;
}

.ship {
  display: flex;
  flex-direction: column;

  margin: 75px 0 75px 0;

  animation: 3s linear 0s infinite ship-movement;
}

.ship img:last-child {
  margin-top: 5px;

  animation: 0.5s linear 0s infinite alternate flame-flicker;
}

.star {
  background-color: white;
  border-radius: 50px;

  aspect-ratio: 1/1;
  height: 5px;

  animation: 2s ease 0s infinite alternate star-flicker;
}

.team-info {
  font-size: 10pt;
}